name: Test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  terratest:
    runs-on: ubuntu-latest
    steps:
      - name: "Harden Runner"
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: "Checkout"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: "Setup Go"
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: test/go.mod
          cache: true

      - name: "Setup Terraform"
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd #v3.1.2

      - name: "Install JUnit Reporter"
        working-directory: test
        run: go install github.com/jstemmer/go-junit-report/v2@v2.1.0

      - name: "Run Tests"
        working-directory: test
        shell: bash
        run: go test -timeout 20m -v ./... 2>&1 | tee results.out

      - name: "Convert Test Results"
        working-directory: test
        shell: bash
        if: hashFiles('test/results.out') != ''
        run: go-junit-report -set-exit-code < results.out > results.xml

      - name: "Upload Test Results"
        uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86 # v2.4
        if: hashFiles('test/results.xml') != ''
        with:
          paths: test/results.xml
